.float {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.float:hover {
    transform: scale(1.1);
}

.icon {
    width: 32px;
    height: 32px;
}